@use '../general/variables' as *;
@use '../general/mixins' as *;

// Featured Collection
.collection {
    padding: 5rem 2rem 0 2rem;
    background-color: $colour-cream;
    .container {
        max-width: 1440px;
        margin: 0 auto;
    }
    .overline {
        display: block;
        margin-bottom: 1rem;
        font-size: $text-sm;
        font-weight: $weight-th;
        color: $colour-dark;
        text-align: center;

        @include xl {
          font-size: $text-rg;
        }
    }
    h2 {
        font-size: $text-h2;
        color: $colour-dark;
        font-weight: $weight-rg;
        text-align: center;
        margin-bottom: 4rem;

        @include mobile {
          font-size: $text-mh2;
        }
    }
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.collection-card {
    text-decoration: none;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 0.9;
    }
    .collection-image {
        overflow: hidden;
        margin-bottom: 1rem;
        border-radius: 4px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h3 {
        color: $colour-dark;
        font-size: $text-rg;
        font-weight: $weight-th;
        text-align: center;
    }
}

// New Arrivals
.arrivals {
    padding: 8rem 0;
    background-color: $colour-cream;
    position: relative;

    @include tablet  {
      padding: 5rem 0;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2rem;
    }
    .overline {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        font-size: $text-sm;
        color: $colour-dark;
        font-weight: $weight-th;

        @include xl {
          font-size: $text-rg;
        }
    }
    h2 {
        text-align: center;
        font-size: $text-h2;
        color: $colour-dark;
        margin-bottom: 4rem;
        font-weight: $weight-rg;

        @include mobile {
          font-size: $text-mh2;
        }
    }
}

.arrivals-slider {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow-x: scroll;
    overflow-y: visible;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: grab;
    &::-webkit-scrollbar {
        display: none;
    }
    &:active {
        cursor: grabbing;
    }
}

.arrivals-track {
    display: flex;
    padding: 0 max(2rem, calc((100vw - 1440px) / 2));
    gap: 2rem;
    width: max-content;
}

.product-card {
    width: calc((1440px - 6rem) / 4);
    flex-shrink: 0;
    text-decoration: none;
    position: relative;
    &:hover {
        opacity: 0.9;
    }
}

.product-image {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }
}

.product-badges {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    gap: 0.5rem;
    z-index: 1;
}

.badge {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    font-weight: $weight-rg;
    border-radius: 4px;
    text-transform: capitalize;
    line-height: 1.2;
    &.new {
        background-color: $colour-button;
        color: $colour-dark;
    }
    &.bestseller {
        background-color: $colour-dark;
        color: $colour-white;
    }
}

.product-info {
    width: 100%;
    padding: 0 3rem;
    text-align: center;
    h3 {
        font-size: $text-h3;
        font-weight: $weight-th;
        color: $colour-dark;
        margin-bottom: 1rem;
    }
    .price {
        display: block;
        font-size: $text-rg;
        font-weight: $weight-th;
        color: $colour-dark;
        margin-bottom: 0.50rem;
    }
    .colors {
        font-size: $text-sm;
        font-weight: $weight-th;
        color: rgba($colour-dark, 0.6);
    }
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background: $colour-cream;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background-color 0.3s ease;
    svg {
        width: 24px;
        height: 24px;
    }
    &.prev {
        left: 2rem;
        @include mobile {
            left: 0rem;
        }
    }
    &.next {
        right: 2rem;
        @include mobile {
            right: 0rem;
        }
    }
}
