//Colours
$colour-cream: #F3EBDA;
$colour-dark: #191918;
$colour-button: #E9ED39;
$colour-white: #FFFFFF;
$colour-light: #FCF7EC;

//Fonts
$font-primary: 'Inter', Roboto, sans-serif;
$text-sm: 0.875rem;
$text-rg: 1rem;
$text-h1: 5rem;
$text-h2: 3rem;
$text-h3: 1.5rem;
$text-mh2: 2rem;

$weight-th: 300;
$weight-rg: 400;
$weight-hv: 700;

//Misc
$transition-default: 0.5s ease-in-out;
$border-radius-button: 100px;
$container-xl: 1700px;
